<div class="text-center">
    <h1>Kitty Scrapper</h1>
    <a href="/scrape" class="text-center btn btn-outline-primary btn-lg" id="scrape">SCRAPE FOR MORE KITTIES</a>
    <button class="text-center btn btn-outline-danger btn-lg" id="clear-button">CLEAR KITTIES</button>
</div>

<div id="wrapper">
    <div class="row">
        <div class="col-md-8 col-12">
            <ul class="list-group list-group-flush" id="articles">
            </ul>
        </div>
        <div class="col-md-4 col-12" id="notes">
            <div class="card">
                <div class="card-body note" id="note card body">
                </div>
            </div>
        </div>
    </div>
</div>