<div class="text-center">
    <h1>Kitty Scrapper</h1>
    <a href="/scrape" class="text-center btn btn-outline-primary btn-lg" id="scrape">SCRAPE FOR MORE KITTIES</a>
    <button class="text-center btn btn-outline-danger btn-lg" id="clear-button">CLEAR KITTIES</button>
</div>

<div id="wrapper">
    <div id="articles"></div>
    <div id="notes"></div>
</div>